#container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: hsl(233, 47%, 7%);
}
div{
    
}
#main{
    height: 70%;
    width: 80%;
    display: grid;
    grid-template-columns: 55% 45%;
}
#pic{
    background-image: url(images/image-header-desktop.jpg);
    background-size: cover;           
    background-position: center;       
    background-repeat: no-repeat;
    border-radius: 0px 15px 15px 0px;
}
#color{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    opacity: 0.5;
    border-radius: 0px 15px 15px 0px;
}
#text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(244, 37%, 16%);
    border-radius: 15px 0px 0px 15px;
}
#insidetext{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
#insights{
    font-size: 57px;
    color: white;
    margin: 0;
    width: 90%;
}
#benefits{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 24px;
    width: 90%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
}
#outsidestats{
    display: flex;
    flex-direction: column-reverse;
    height: 40%;
}
#stats{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stat{
    height: 100%;
    width: 20%;
}
.nums{
    margin: 0;
    color: hsla(0, 0%, 100%, 0.9);
}
.numtexts{
    margin: 0;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;
    letter-spacing: 2px;
}
@media (max-width:426px){
    #main{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        height: 100%;
    }
    #pic{
        height: 30%;
        background-image: url(images/image-header-mobile.jpg);
        background-size: cover;           
        background-position: center;       
        background-repeat: no-repeat;
        border-radius: 15px 15px 0px 0px;
        width: 80%;
    }
    #color{
        border-radius:15px 15px 0px  0px;
    }
    #text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(244, 37%, 16%);
        border-radius:0px 0px 15px 15px ;
        height: 60%;
        width: 80%;
    }
    #insidetext{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #insights{
        font-size: 20px;
        color: white;
        margin: 0;
        width: 90%;
    }
    #benefits{
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 9px;
        width: 95%;
        word-spacing: 2px;
        letter-spacing: 1px;
        font-weight: 300;
    }
    .nums{
        margin: 0;
        color: hsla(0, 0%, 100%, 0.9);
        font-size: 16px;
    }
    .numtexts{
        margin: 0;
        color: hsla(0, 0%, 100%, 0.75);
        font-size: 7px;
        letter-spacing: 2px;
    }
    #outsidestats{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 50%;
        margin-top: 20px;
    }
    #stats{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}