#main{
    display: grid;
    height: 80px;
    width: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}
div{
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
#e{
    grid-column: 1/6;
    background-color: gray;
}
#c{
    width: 50px;
    grid-row: 2/3;
    background-color: gray;
}
#d{
   grid-column: 2/span1;
   background-color: gray;
}
#a{
    grid-column: 1/3;
    background-color: gray;
}
#b{
    grid-column: 3/6;
    background-color: gray;
}