#main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    height: 80px;
    width: 200px;
}
div{
   
    text-align: center;
}
#a,#b,#c,#d,#e,#f{
    background-color: gray;
    border-radius: 3px;
    padding: 7px;
}
#d{
    grid-column: 1/2;
    grid-row: 1/2;
}
#f{
    grid-column: 3/4;
    grid-row: 1/2;
}
#b{
    grid-row: 2/3;
    grid-column: 2/3;
}
#c{
    grid-row: 2/3;
    grid-column: 3/4;
}