body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(218, 22%, 67%);
    font-family: "Karla", sans-serif;
}

#main{
    height: 500px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 20px;
}
#left{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
    border-radius: 0px 0px 0px 15px;
}
#right{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    background-color: hsl(179, 73%, 54%);
    border-radius: 0px 0px 15px 0px;
    padding: 40px;
    gap: 5px;
    box-sizing: border-box;
}
#top{
    grid-column: 1/span2;
    grid-row: 1/2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
}
button{
    height: 70px;
    background-color: hsl(71, 73%, 54%);
    border-radius: 10px;
    color: hsl(204, 43%, 93%);
    font-size: 20px;
    border: 0;
    margin-top: 40px;
}