body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Josefin Sans", sans-serif;
}
#main{
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 650px;
}
#text{
    height: 100%;
    width: 55%;
    box-sizing: border-box;
    padding:40px 90px ;
    background-color: hsl(0, 100%, 98%);
}
#image{
    height: 100%;
    width: 45%;
    background-image: url(images/hero-desktop.jpg);
    background-size: cover;           
    background-position: center;       
    background-repeat: no-repeat;
}
div{
    border: 1px solid red;
}
#content{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#apparel{
    width: 250px;
    height: 50px;
    background-image: url(images/logo.svg);
    background-size: cover;           
    background-position: center;       
    background-repeat: no-repeat;
    margin-bottom: 80px;
}
#text2{
    width: 100%;
    height: 200px;
}
#text3{
    width: 100%;
    height: 80px;
}
h1{
    font-size: 60px;
    margin: 0;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}
#inp{
    width: 100%;
    height: 60px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}