body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div {
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 30px;
    padding-bottom: 0;
}
img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}
h2 {
    color: hsl(75, 94%, 57%);
    font-size: 15px;
    margin-bottom: 5px;
}
p {
    color: rgba(255, 255, 255, 0.389);
    margin-top: 10px;
    font-size: 13px;
    font-weight: 100;
}
#buttons {
    padding: 10px;
}
button{
    height: 40px;
    width: 250px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    border: 0;
    margin: 7px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
}
button:hover{
    background-color: hsl(75, 94%, 57%);
    transition: 0.25s;
    color: black;
}